body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  background-color: #F3F5F6;
}

.inline-block {
  display: inline-block;
}

.keyboard-key {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  border: 3px solid #F3F5F6;
}

.error {
  border: 3px solid #f45342;
}

.keyboard-key:hover:before {
  content: ' ';
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  border-radius: 7px;
  position: absolute;
  background-color: rgba(0,0,0,0.15);
  box-sizing: border-box;
  z-index: 1;
}

.keyboard-key.active::before {
  content: ' ';
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  border-radius: 7px;
  position: absolute;
  background-color: rgba(0,0,0,0.25);
  box-sizing: border-box;
  z-index: 1;
}

.k100 {
  width: 50px;
  height: 50px;
}

.k125 {
  width: 62.5px;
  height: 50px;
}

.k150 {
  width: 75px;
  height: 50px;
}

.k175 {
  width: 87.5px;
  height: 50px;
}

.k175stepped {
  width: 62.5px;
  height: 50px;
  margin-right: 25px;
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.k175stepped:hover:before, .active.k175stepped:before {
  border-radius: 7px 0 0 7px;
}

.k175stepped:after {
    width: 22px;
    height: 44px;
    background-color: #eaeaea;
    top: 0;
    right: -25px;
    content: ' ';
    position: absolute;
    border-radius: 0 10px 10px 0;
    z-index: -1;
    border-right: 3px solid #F3F5F6;
}
.error.k175stepped:after {
    top: -3px;
    border: 3px solid #f45342;
}
.k175stepped:hover:after {
  background-color: #CBCBCB;
}
.active.k175stepped:after {
  background-color: #B3B3B3;
}
.tapkey.k175stepped:after {
  background-color: #7BCB7B;
}
.tapkey.k175stepped:hover:after {
  background-color: #6CB26C;
}
.active.tapkey.k175stepped:after {
  background-color: #5E9B5E;
}
.toggle.k175stepped:after {
  background-color: #D9D9BF;
}
.toggle.k175stepped:hover:after {
  background-color: #BFBFA8;
}
.active.toggle.k175stepped:after {
  background-color: #A6A692;
}
.momentary.k175stepped:after {
  background-color: #D9A3AD;
}
.momentary.k175stepped:hover:after {
  background-color: #BF9098;
}
.active.momentary.k175stepped:after {
  background-color: #A67D84;
}
.modkey.k175stepped:after {
  background-color: #C4C4D5;
}
.modkey.k175stepped:hover:after {
  background-color: #ACACBB;
}
.active.modkey.k175stepped:after {
  background-color: #9696A3;
}

.k200 {
  width: 100px;
  height: 50px;
}

.k225 {
  width: 112.5px;
  height: 50px;
}

.k275 {
  width: 137.5px;
  height: 50px;
}

.k200v {
  width: 50px;
  height: 100px;
  margin-bottom: -56px
}

.k625 {
    width: 312.5px;
    height: 50px;
}

.k700 {
    width: 350px;
    height: 50px;
}

.kISO {
  width: 75px;
  height: 50px;
  border-radius: 10px 10px 0 10px;
}
.kISO::after {
  content: ' ';
  width: 56.5px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom: -50px;
  right: 0px;
  z-index: 0;
}

.error.kISO:after {
    border: 3px solid #f45342;
    border-top: none;
    right: -3px;
    height: 47px;
}

.kJIS {
  width: 75px;
  height: 50px;
  border-radius: 10px 10px 0 10px;
}
.kJIS::after {
  content: ' ';
  width: 44px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom: -50px;
  right: 0px;
  z-index: 0;
}
.error.kJIS:after {
    border: 3px solid #f45342;
    border-top: none;
    right: -3px;
    height: 47px;
}

.kISO:hover:after, .kJIS:hover:after {
    background-color: #d9d9d9;
}
.momentary.kISO:hover:after, .momentary.kJIS:hover:after {
    background-color: #D9A3AD;
}
.toggle.kISO:hover:after, .toggle.kJIS:hover:after {
    background-color: #D9D9BF;
}
.modkey.kISO:hover:after, .modkey.kJIS:hover:after {
    background-color: #C4C4D5;
}
.tapkey.kISO:hover:after, .tapkey.kJIS:hover:after {
    background-color: #7BCB7B;
}

.active.kISO:after, .active.kJIS:after {
    background-color: #BFBFBF;
}
.active.momentary.kISO:after, .active.momentary.kJIS:after {
    background-color: #BF9098;
}
.active.toggle.kISO:after, .active.toggle.kJIS:after {
    background-color: #BFBFA8;
}
.active.modkey.kISO:after, .active.modkey.kJIS:after {
    background-color: #ACACBB;
}
.active.tapkey.kISO:after, .active.tapkey.kJIS:after {
    background-color: #6CB26C;
}

.kISO:hover:before, .active.kISO:before, .kJIS:hover:before, .active.kJIS:before {
  border-radius: 7px 7px 0 7px;
}

.context-menu-shell {
  position: absolute;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0 10px;
  z-index: 10;
  width: 400px;
  height: 300px;
  background-color: #eee;
}
.context-menu {
  width:100%;
  height:100%;
  overflow-y: scroll;
  float: left;
  margin-top: -24px;
}

.context-shell:focus {
  outline: none;
}

.context-menu-shell .close-button {
        position: relative;
    float: right;
    margin-top: -1px;
    margin-right: -11px;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-color: inherit;
    border-radius: 0 5px 0 5px;
    border: 1px solid #333;
}
.context-menu-shell .close-button:hover {
  background-color: #bbb;
}
.context-menu-shell .close-button:focus {
  outline: none;
}

.context-menu .context-panel div {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: seashell;
    height: 15px;
    width: 15px;
    margin: 2px;
    cursor: default;
    vertical-align: top;
}

.context-menu .context-panel .large-context-key {
  width: 30px;
}

.context-menu .context-panel .extra-large-context-key {
  width: 60px;
}

.context-menu .context-panel div:hover {
    background-color: lightgray;
}

.context-menu .context-panel div.active {
  background-color: gray;
}

.context-menu .context-panel div:hover .tooltiptext {
    display: block;
    padding: 5px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    color: #333;
}

.tooltiptext {
    display: none;
}

.context-menu h3 {
  //margin-top: 0;
}

.momentary, .momentary:after {
  background-color: pink;
}

.toggle, .toggle:after {
  background-color: lightyellow;
}

.tapkey, .tapkey:after {
  background-color: lightgreen;
}

.modkey, .modkey:after {
  background-color: lavender;
}

.split-panel {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.section-header {
  background-color: white;
  border-radius: 3px;
  padding: 2px;
}

.layer {
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea {
  width: 100%;
  height: 400px;
}