<html>
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/vue.min.js"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
    <script src="https://use.fontawesome.com/b5e3762aca.js"></script>
  </head>
  <body>

    <div id="app">
      <keyboard-selector-component v-model="activeKeyboard" :keyboards="keyboards"></keyboard-selector-component>
      <advanced-settings-component :active-keyboard="activeKeyboard"></advanced-settings-component>
      <zone-selector-component v-on:zone="onZoneChange" :zones="zones"></zone-selector-component>
      <indicators :indicators="activeKeyboard.indicators"></indicators>
      <static-indicators :indicators="activeKeyboard.static_indicators"></static-indicators>
      <rotary-encoders :encoders="activeKeyboard.rotary_encoders"></rotary-encoders>
      <saved-layout-selector-component v-model="activeKeyboard" :keyboards="keyboards" :saved-layouts="savedLayouts" v-on:delete-layout="deleteSavedLayout"></saved-layout-selector-component>

      <label>Layout Name</label>
      <input type="text" v-model="layoutName" />
      <button :disabled="!layoutName.trim()" v-on:click="saveLayout()" class="btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> Save Layout
      </button>

      <a class="btn btn-primary" :href="exportLink" :download="exportFileName"><i class="fa fa-sign-out" aria-hidden="true"></i> Export Layout</a>

      <form enctype="multipart/form-data">
        <label for="file" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Import Layout</label>
        <input class="inputfile" type="file" name="file" id="file" v-on:change="fileChange($event.target.files);" accept=".json" />
      </form>

      <button v-on:click="addLayer()" class="btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Layer
      </button>

      <div v-for="(layer, index) in layers">
        <h2 v-if="index === 0">Default Layer (Layer 0)</h2>
        <h2 v-if="index > 0">Layer {{index}}</h2>
        <button v-if="index > 0" v-on:click="deleteLayer(index)" class="btn-warning">
          <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Layer
        </button>
        <layer :key-info="layer"></layer>
      </div>

      <raw-output :active-keyboard="activeKeyboard" :keyboards="keyboards" v-on:updateactivekeyboard="updateActiveKeyboard"></raw-output>

      <button :disabled="buildInProgress" v-on:click="buildFirmware()" class="btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Build Firmware</button>
      <button v-if="urls.config" v-on:click="downloadFile(urls.config)" class="btn-secondary">config.h</button>
      <button v-if="urls.rules" v-on:click="downloadFile(urls.rules)" class="btn-secondary">rules.mk</button>
      <button v-if="urls.keyboardC" v-on:click="downloadFile(urls.keyboardC)" class="btn-secondary">keyboard.c</button>
      <button v-if="urls.keyboardH" v-on:click="downloadFile(urls.keyboardH)" class="btn-secondary">keyboard.h</button>
      <button v-if="urls.keymap" v-on:click="downloadFile(urls.keymap)" class="btn-secondary">keymap.c</button>
    </div>

    <script src="assets/js/keyboards/bananasplit/configuration.js"></script>
    <script src="assets/js/keyboards/lowwriter/configuration.js"></script>
    <script src="assets/js/keyboards/roadkit/configuration.js"></script>
    <script src="assets/js/keyboards/minivan/configuration.js"></script>
    <script src="assets/js/keyboards/ttocyobitna/configuration.js"></script>
    <script src="assets/js/keyboards/jetvan/configuration.js"></script>
    <script src="assets/js/keyboards/prime_e/configuration.js"></script>
    <script src="assets/js/keyboards/v4n4g0n/configuration.js"></script>
    <script src="assets/js/keyboards/neuron/configuration.js"></script>
    <script src="assets/js/keyboards/garbageTruck/configuration.js"></script>
    <script src="assets/js/keyboards/m3n3van/configuration.js"></script>
    <script src="assets/js/keyboards/mb44/configuration.js"></script>
    <script src="assets/js/keyboards/caravan2/configuration.js"></script>
    <script src="assets/js/keyboards/ketch/configuration.js"></script>
    <script src="assets/js/keyboards/skiff/configuration.js"></script>
    <script src="assets/js/eventHub.js"></script>
    <script src="assets/js/keys.js"></script>
    <script src="assets/js/toggleComponent.js"></script>
    <script src="assets/js/advancedSettingsComponent.js"></script>
    <script src="assets/js/zoneSelectorComponent.js"></script>
    <script src="assets/js/keyboardSelectorComponent.js"></script>
    <script src="assets/js/savedLayoutSelectorComponent.js"></script>
    <script src="assets/js/colorPickerComponent.js"></script>
    <script src="assets/js/indicatorsComponent.js"></script>
    <script src="assets/js/staticIndicatorsComponent.js"></script>
    <script src="assets/js/encodersComponent.js"></script>
    <script src="assets/js/rawOutputComponent.js"></script>
    <script src="assets/js/keyComponent.js"></script>
    <script src="assets/js/contextMenuComponent.js"></script>
    <script src="assets/js/layerComponent.js"></script>
    <script src="assets/js/keyboard.js"></script>
  </body>
</html>
