$key-unit-size: 75px;
$key-border-color: #0f1010;
$key-border-active: #A0A0A0;
$key-border-size: 3px;

.key {
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  border: $key-border-size solid $key-border-color;
  vertical-align: bottom;
  cursor: pointer;
  text-align: center;

  &:hover {
    border-color: $key-border-active
  }
}

.key.k100 {
  width: $key-unit-size;
  height: $key-unit-size;
}

.key.k125 {
  width: $key-unit-size + ($key-unit-size * 0.25);
  height: $key-unit-size;
}

.key.k150 {
  width: $key-unit-size + ($key-unit-size * 0.5);
  height: $key-unit-size;
}

.key.k175 {
  width: $key-unit-size + ($key-unit-size * 0.75);
  height: $key-unit-size;
}

.key.k175stepped {
  width: $key-unit-size + ($key-unit-size * 0.25);
  height: $key-unit-size;
  margin-right: $key-unit-size / 2;
  border-right: none;
  border-radius: 10px 0 0 10px;

  &:after {
      width: $key-unit-size / 2;
      height: $key-unit-size - ($key-border-size * 2);
      top: $key-border-size;
      left: $key-unit-size + ($key-unit-size * 0.25);
      content: ' ';
      position: absolute;
      border-radius: 0 10px 10px 0;
      z-index: -1;
      border-right: $key-border-size solid $key-border-color;
      &:hover {
        border-color: $key-border-active;
      }
  }

  &:hover {
    border-color: $key-border-active;
  }
}

.key.k200 {
  width: $key-unit-size * 2;
  height: $key-unit-size;
}

.key.k225 {
  width: $key-unit-size + ($key-unit-size * 1.25);
  height: $key-unit-size;
}

.key.k275 {
  width: $key-unit-size + ($key-unit-size * 1.75);
  height: $key-unit-size;
}

.key.k200v {
  width: $key-unit-size;
  height: $key-unit-size * 2;
  margin-bottom: -56px
}

.key.k625 {
  width: $key-unit-size + ($key-unit-size * 5.25);
  height: $key-unit-size;
}

.key.k700 {
    width: $key-unit-size + ($key-unit-size * 6);
    height: $key-unit-size;
}

.key.kISO {
  width: $key-unit-size + ($key-unit-size * 0.50);
  height: $key-unit-size;
  border-radius: 10px 10px 0 10px;

  &:after {
    content: '';
    width: $key-unit-size + ($key-unit-size * 0.25) - ($key-border-size * 2);
    height: $key-unit-size;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: ($key-unit-size - $key-border-size) * -1;
    right: $key-border-size;
    pointer-events: all;
    z-index: 0;
    &:hover {
      border-color: $key-border-active;
    }
  }

  &:hover {
    border-color: $key-border-active;
  }

}

.key.kJIS {
  width: $key-unit-size + ($key-unit-size * 0.5);
  height: $key-unit-size;
  border-radius: 10px 10px 0 10px;

  &:after {
    content: '';
    width: $key-unit-size - ($key-border-size * 2);
    height: $key-unit-size;
    position: absolute;
    border-radius: 0 0 10px 10px;
    bottom: ($key-unit-size - $key-border-size) * -1;
    right: $key-border-size;
    pointer-events: all;
    z-index: 0;
  }

}
